.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: rgb(253, 185, 120);
  }
  
  .txt1{
    font-size: 60px; 
    color: rgb(53, 2, 146);
  }
  
  .txt2{
    font-size: 45px; 
  }
  
  .input {
   border: 2px solid;
   background-color: rgb(40, 10, 97);
   color: #fff;
   border-radius: 5px;
   width: 300PX;
   height: 45px;
   font-size: 30px;
  }

  .no-spinners {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Rest of the browsers */
  }
  
  .no-spinners::-webkit-inner-spin-button,
  .no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.table{
  position: absolute;
  top:15%
}

.btn-back{
  position: absolute;
  left:1%;
  top: 2%;
}

.btn-add{
  position: absolute;
  left: 5.5%;
  top:2%;
}

.inp{
  position: absolute;
  top: 15%;
  left: 34.4%;
}

.inp h2{
  text-align: center;
}

.inp .btns{
  position: absolute;
  top: 88%;
  left: 45%;
}

input[type=radio]{
  width: 100%;
}

